@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Josefin Sans', sans-serif;
}

:root {
  --bgL: #ffffff;
  --fontL: #25273c;
  --bgD: #25273c;
  --fontD: #ffffff;
}

.container {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  gap: 50px;
  justify-content: flex-start;
  align-items: center;
  position: relative;
}

.light-cont {
  background-color: #fafafa;
  transition: all 1700ms ease;
}

.dark-cont {
  background-color: #181824;
  transition: all 1700ms ease;
}

.light {
  background-color: var(--bgL);
  color: var(--fontL);
  border-color: rgba(0, 0, 0, 0.295);
  transition: all 1700ms ease;
}

.dark {
  background-color: var(--bgD);
  color: var(--fontD);
  border-color: rgba(255, 255, 255, 0.244);
  transition: all 1700ms ease;
}

.light-cont .cover-pic {
  background: url(/public/images/bg-desktop-light.jpg) no-repeat;
  background-size: cover;
  transition: all 2500ms ease;
}

.dark-cont .cover-pic {
  background: url(/public/images/bg-desktop-dark.jpg) no-repeat;
  background-size: cover;
  transition: all 2500ms ease;
}

.cover-pic {
  width: 100%;
  height: 300px;
  position: absolute;
  top: 0;
  left: 0;
}

.card {
  background-color: transparent;
  min-height: 200px;
  width: 560px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border-radius: 5px;

  margin-top: 80px;
  position: relative;
  z-index: 1;
}

.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 50px;
  background-color: transparent;
}

.title {
  color: white;
  font-weight: bolder;
  text-shadow: 2px 2px rgba(0, 0, 0, 0.829);
}

.mode {
  height: 30px;
  width: 30px;
  padding: 5px;
  background-color: transparent;
  border: none;
}

.icon {
  transition: all 1700ms ease;
}

.input-bar {
  height: 50px;
  width: 100%;
  padding: 0 40px;
  display: flex;
  align-items: center;
  border: none;
  margin-bottom: 20px;
  font-size: 14px;
}

.list {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.task-indiv {
  width: 100%;
  min-height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  border: 1px groove;
  border-bottom: none;
}

.task-done,
.task-delete {
  height: 25px;
  width: 25px;
  border-radius: 50%;
  background-color: transparent;
  border: none;
}

.task-done:hover {
  border: 2px solid cyan;
  background-color: rgba(0, 255, 255, 0.267);
}

.task-delete:active {
  background: linear-gradient(120deg, rgba(0, 132, 255, 0.696) 0%, rgba(199, 1, 248, 0.674) 100%);
}

.active-state {
  background: linear-gradient(1200deg, rgb(0, 132, 255) 0%, rgb(211, 1, 248) 100%);
}

.strike {
  text-decoration: line-through;
  opacity: 0.5;
}

.filters {
  width: 100%;
  display: flex;
  padding: 0 10px;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border: 1px groove;
}

.light-foot {
  background-color: var(--bgL);
  color: #45465e;
  transition: all 1700ms ease;
}

.dark-foot {
  background-color: var(--bgD);
  color: #bfbacd;
  transition: all 1700ms ease;
}

.light-foot button {
  color: #a7a4af;
}

.dark-foot button {
  color: #565773;
}

.filters button {
  background-color: transparent;
  font-size: 14px;
  border: none;
}

.filters button:hover,
.filters button:focus {
  color: rgb(0, 217, 255);
  font-weight: 500;
}

button {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}